@font-face {
  font-family: Volvo Novum;
  font-weight: 300;
  src: url(./fonts/volvo-novum/volvo-novum-greek-semi-light.woff2)
    format('woff2');
  font-display: swap;
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: Volvo Novum;
  font-weight: 300;
  src: url(./fonts/volvo-novum/volvo-novum-cyrillic-semi-light.woff2)
    format('woff2');
  font-display: swap;
  unicode-range: U+4??;
}
@font-face {
  font-family: Volvo Novum;
  font-weight: 300;
  src: url(./fonts/volvo-novum/volvo-novum-semi-light.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Volvo Novum;
  font-style: italic;
  font-weight: 300;
  src: url(./fonts/volvo-novum/volvo-novum-greek-semi-light-italic.woff2)
    format('woff2');
  font-display: swap;
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: Volvo Novum;
  font-style: italic;
  font-weight: 300;
  src: url(./fonts/volvo-novum/volvo-novum-cyrillic-semi-light-italic.woff2)
    format('woff2');
  font-display: swap;
  unicode-range: U+4??;
}
@font-face {
  font-family: Volvo Novum;
  font-style: italic;
  font-weight: 300;
  src: url(./fonts/volvo-novum/volvo-novum-semi-light-italic.woff2)
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Volvo Novum;
  font-weight: 500;
  src: url(./fonts/volvo-novum/volvo-novum-greek-medium.woff2) format('woff2');
  font-display: swap;
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: Volvo Novum;
  font-weight: 500;
  src: url(./fonts/volvo-novum/volvo-novum-cyrillic-medium.woff2)
    format('woff2');
  font-display: swap;
  unicode-range: U+4??;
}
@font-face {
  font-family: Volvo Novum;
  font-weight: 500;
  src: url(./fonts/volvo-novum/volvo-novum-medium.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Volvo Novum;
  font-style: italic;
  font-weight: 500;
  src: url(./fonts/volvo-novum/volvo-novum-greek-medium-italic.woff2)
    format('woff2');
  font-display: swap;
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: Volvo Novum;
  font-style: italic;
  font-weight: 500;
  src: url(./fonts/volvo-novum/volvo-novum-cyrillic-medium-italic.woff2)
    format('woff2');
  font-display: swap;
  unicode-range: U+4??;
}
@font-face {
  font-family: Volvo Novum;
  font-style: italic;
  font-weight: 500;
  src: url(./fonts/volvo-novum/volvo-novum-medium-italic.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Volvo Broad;
  font-weight: 400;
  src: url(./fonts/volvo-broad/volvo-broad-cyrillic.woff2) format('woff2');
  font-display: swap;
  unicode-range: U+4??;
}
@font-face {
  font-family: Volvo Broad;
  font-weight: 400;
  src: url(./fonts/volvo-broad/volvo-broad-greek.woff2) format('woff2');
  font-display: swap;
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: Volvo Broad;
  font-weight: 400;
  src: url(./fonts/volvo-broad/volvo-broad-latin-rest.woff2) format('woff2');
  font-display: swap;
  unicode-range: U+20-36F, U+530-FB02;
}
